<div id="{{containerId}}" class="{{containerClass}}" {{domDataConfigKey}}="{{domDataConfigValue}}">
<!--title-->
{{#if layoutInstrumentTitles}}
    <{{layoutInstrumentTitles.htmlElement}} class="{{layoutInstrumentTitles.htmlElementClass}}">piano</{{layoutInstrumentTitles.htmlElement}}>
{{/if}}
<!--piano keys-->
<div class="{{pianoClass}}">
    {{#each keys}}
            <div class="{{../pianoKeyClass}} {{../noteClass}} {{multicolorClass}} {{keyClass}}" {{../domDataToneKey}}="{{tone}}">
            <p>
                <span>{{{note}}}</span>
            </p>
        </div>
    {{/each}}
</div>
<!--search button-->
{{#if searchButton}}
    <a class="{{searchButton.elementClass}}" onclick="_chorus.search('','{{containerId}}',{{searchButton.callback}})">{{searchButton.title}}</a>
{{/if}}
</div>